<section class="">
    <section class="w-full productPage md:px-20">
        <section class="md:flex px-6 py-10 md:py-20 justify-between content-center">
            <div class="prodImage item-center">
                <img src="/img/<%= cake.image %>" alt="" srcset="">
            </div>
    
            <div class="right-buy content-center md:pr-20">
                <h1 class="text-orange-600 font-bold text-xl md:text-2xl capitalize pt-6"><%= cake.name %></h1>
                <h4 class="capitalize pt-4 text-lg"><%= cake.size %></h4>
                <h1 class="text-orange-500 font-bold text-xl pt-4">₹ <%= cake.price %></h1>
                <!-- <a href="">
                    <h1 class="capitalize pt-3">options</h1>
                </a> -->

                <div class="buy-options py-6 md:py-6">
                    <span class=""><a href="/cart"><button data-cake="<%= JSON.stringify(cake) %>"
                                class="add-to-cart btn-primary px-6 md:px-8 py-2 rounded-full font-bold md:px-1 text-white" style="color: #fff;">Buy
                                Now</button></a></span>
                    <span class="ml-4"><a href=""><button data-cake="<%= JSON.stringify(cake) %>"
                                class="add-to-cart btn-primary px-4 md:px-6 py-2 rounded-full font-bold md:px-2 text-white" style="color: #fff;">Add to
                                Cart</button></a></span>
                </div>
            </div>
            <!-- <div class="wishist">
                <a href=""><i class="fas fa-heart bg-white"></i></a>
            </div> -->
        </section>
        <section class="pb-2 md:py-6">
            <div class="description w-full px-6 pb-4 md:w-1/2">
                <h1 class="text-lg md:text-2xl font-bold pb-3">Cake Description</h1>
                <p class="text-sm md:text-lg pb-3"><%= cake.description %></p>
            </div>
            <div class="advantages my-4 md:py-12 mx-4 md:px-12 rounded-lg text-white font-bold flex justify-between content-center items-center h-32 md:h-40">
                <div class="pl-4 md:px-12 text-sm md:text-2xl">
                    <span><i class="far fa-money-bill-alt text-sm md:text-2xl flex content-center items-center "> Cash On
                            Delivery</i></span>
                </div>
                <div class="px-4">
                    <span><i class="fal fa-truck text-sm md:text-2xl flex content-center items-center "> On Time Delivery</i></span>
                </div>
                <div class="pr-4 md:px-12">
                    <span><i class="fal fa-hat-chef text-sm md:text-2xl flex content-center items-center "> Enriched
                            Flavours</i></span>
                </div>
            </div>
        </section>
    
        <div class="flex items-center content-center px-4 md:py-0">
            <h1 class="font-bold text-xl text-Capitalize">You may also like</h1>
        </div>
        <section class="grid grid-cols-1 md:grid-cols-4">
            <!-- <section class="flex items-center col-gap-12 row-gap-16"> -->
                <div class="mx-auto">
                    <div class="w-full md:w-64 cake-card px-6 py-5 my-8 md:mb-16">
                        <div>
                            <button class="mx-auto w-full focus:outline-none" id="prodimg" data-prod="<%= JSON.stringify(cake) %>">
                                <a href="/product/productDetails/<%= cake.id %>">
                                    <img class="h-40 mb-4 mx-auto rounded-sm" src="/img/vanilla cupcake.jpg" alt="cake_img">
                                </a>
                            </button>
                        </div>
                        <div class="text-center">
                            <h2 class="mb-4 text-lg">Vanilla Cupcake</h2>
                            <span class="size py-1 px-4 rounded-full uppercase text-xs">1 Piece</span>
                            <div class="flex items-center justify-around mt-6">
                                <span class="font-bold text-lg">₹ 150</span>
                                <button data-cake="<%= JSON.stringify(cake) %>" 
                                    class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold ">
                                    <span>+</span>
                                    <span class="ml-4">Add</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </section> -->
                <div class="mx-auto">
                    <div class="w-full mx-auto md:w-64 cake-card px-6 py-5 my-8 md:mb-16">
                        <div>
                            <button class="mx-auto w-full focus:outline-none" id="prodimg" data-prod="<%= JSON.stringify(cake) %>">
                                <a href="/product/productDetails/<%= cake.id %>">
                                    <img class="h-40 mb-4 mx-auto rounded-sm" src="/img/Baby cupcakes.jpg" alt="cake_img">
                                </a>
                            </button>
                        </div>
                        <div class="text-center">
                            <h2 class="mb-4 text-lg">Babyshower</h2>
                            <span class="size py-1 px-4 rounded-full uppercase text-xs">1 Pound</span>
                            <div class="flex items-center justify-around mt-6">
                                <span class="font-bold text-lg">₹ 500</span>
                                <button data-cake="<%= JSON.stringify(cake) %>" 
                                    class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold ">
                                    <span>+</span>
                                    <span class="ml-4">Add</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </section>
    
    <section class="w-full h-1/3 bg-blue-200 px-4 py-10">
        <div class="text-center pb-10">
            <h1 class="text-3xl font-bold">Your Safety is our Priority!</h1>
            <h5><em>Steps we are taking to keep you safe</em></h5>
        </div>
        <div class="md:flex justify-around">
                <div class="covid pb-8">
                    <div class="flex pb-4">
                        <span><img src="/img/patient.png" class="h-8 w-8 mt-4" alt="covid-image"></span>
                        <span class="px-5">
                            <h1 class="text-2xl">Sanitization</h1>
                            <p>Our sellers sanitize there hands & kitchen surface in every 3 hours</p>
                        </span>
                    </div>
                    <div class="flex pb-4">
                        <span><img src="/img/social-distancing.png" class="h-8 w-8 mt-4" alt="covid-image"></span>
                        <span class="px-5">
                            <h1 class="text-2xl">Contact less delivery</h1>
                            <p>Maintaining the safe distance</p>
                        </span>
                    </div>
                    <div class="flex pb-4">
                        <span><img src="/img/check.png" class="h-8 w-8 mt-4" alt="covid-image"></span>
                        <span class="px-5">
                            <h1 class="text-2xl">Temperature Checks</h1>
                            <p>Real time temperature tracking of bakers and delivery stalf</p>
                        </span>
                    </div>
                    <div class="flex pb-4">
                        <span><img src="/img/hand-sanitizer.png" class="h-8 w-8 mt-4" alt="covid-image"></span>
                        <span class="px-5">
                            <h1 class="text-2xl">Compulsory Mask & Gloves</h1>
                            <p>Always on Mask and Gloves environment</p>
                        </span>
                    </div>
                </div>
            <div class="hidden md:block">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/BPdGXvdVKMw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="md:hidden overflow-hidden">
                <iframe width="320" height="315" src="https://www.youtube.com/embed/BPdGXvdVKMw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>
</section>
<%- include("../partials/footer.ejs") %>