<section class="itemsList h-screen-86px">
    <div class="px-12 py-10">
        <h1 class="font-bold text-lg mb-4">All Items</h1>
        <table class="w-full mx-auto px-16 ptable-auto bg-white">
            <thead>
                <tr class="pt-12">
                    <th class=" px-4 py-2 text-left">Name</th>
                    <th class=" px-4 py-2 text-left">Id</th>
                    <th class=" px-4 py-2 text-left">Price</th>
                    <th class=" px-4 py-2 text-left">Size</th>
                    <th class=" px-4 py-2 text-left">Description</th>
                    <th class=" px-4 py-2 text-left"></th>
                </tr>
            </thead>
            <% menu.forEach(function(cake) { %>
                <tr class="border">
                    <td class="border px-4 py-2 text-left"><%= cake.name %></td>
                    <td class="border px-4 py-2 text-left"><%= cake.id %></td>
                    <td class="border px-4 py-2 text-left">₹<%= cake.price %></td>
                    <td class="border px-4 py-2 text-left"><%= cake.size %></td>
                    <td class="border px-4 py-2 text-left"><%= cake.description %></td>
                    <td class="border px-4 py-2 text-left">
                        <!-- <a id="editOption" href="#">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            <select name="" id="">
                                <option value="">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    Edit
                                </option>
                                <option value="">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    Delete
                                </option>
                            </select>
                        </a> -->
                        <div class="edit-container">
                            <a href="/dashboard/deleteprod/<%= cake.id %>">
                                <span>Delete</span>
                            </a>
                            <br>
                            <a href="/dashboard/editproduct/<%= cake.id %>">
                                <span>Update</span>
                            </a>
                            <!-- <ul class="edit-option">
                                <li>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    <span>Edit</span>
                                </li>
                                <li>

                                    <a href="">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <span>Delete</span>
                                </li>
                            </ul> -->
                        </div>
                        <div class="edit-btn">
                            <!-- <a href=""> -->
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            <!-- </a> -->
                        </div>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
</section>
<%- include("../partials/footer.ejs") %>